     /* @import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic'); */
     
     body {
         font-family: Arial, Helvetica, sans-serif;
         /* background: url('../images/test1.jpg') no-repeat 0 0; */
         padding: 0;
         margin: 0;
     }
     
     div {
         box-sizing: border-box;
     }
     
     header {
         background-color: lightgrey;
         height: 200px;
     }
     
     .container {
         width: 150px;
         margin-left: 33px;
         border: lawngreen solid 2px;
     }
     
     nav {
         margin-top: 100px;
         border: #ed36df solid 2px;
     }
     
     .menu-top,
     .horisontal-menu {
         width: 460px;
         padding: 0;
         margin: 0;
         display: block;
         box-sizing: border-box;
     }
     
     .menu-top li {
         float: left;
         display: block;
         margin-right: 17px;
     }
     
     .menu-top li a {
         color: #0076d1;
         text-decoration: none;
         font-size: 15px;
     }
     
     .horisontal-menu li {
         display: inline-block;
         margin-top: 20px;
         width: 48px;
         margin-right: 10px;
     }
     
     .horisontal-menu li a {
         color: #ffffffdc;
         box-shadow: 0 0 35px rgba(129, 127, 127, 0.432) inset;
         text-shadow: 0 1px 0 rgba(56, 56, 56, 0.377);
         text-align: justify;
         font-size: 20px;
         display: block;
         height: 48px;
         border-radius: 50%;
         text-align: center;
         line-height: 48px;
         /* line-height = height */
         text-decoration: none;
         transition: all 300ms ease-out;
     }
     
     .horisontal-menu li a:hover {
         background-color: rgb(77, 161, 240);
         color: rgb(255, 196, 0);
         text-shadow: 0 2px 0 rgba(5, 19, 99, 0.377);
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.664) inset;
     }
     
     .vertical-menu {
         margin: 45px;
         width: 145px;
         box-sizing: border-box;
     }
     
     .vertical-menu ul {
         list-style-type: none;
         border: rgb(0, 202, 252) solid 1px;
     }
     
     .vertical-menu ul li a {
         text-decoration: none;
         border: rgb(17, 0, 252) solid 1px;
         border: 0;
         background: url("../images/sprite.png") no-repeat 0 0;
         width: 16px;
         height: 16px;
         border: 2px;
         color: #fff;
     }