.conteiner {
    max-width: 1600px;
    margin: 0 auto;
}

.conteiner__content {}

.content {
    background: #f2f2f2;
    padding: 15px;
}

.content__heading {
    background: #515e90;
    padding: 10px;
    margin: 0 0 10px;
    color: #f3f3f3;
}

.content__articles {}

.articles {
    background: #fff;
}


/* Элемент место */ //
.articles__article {
    display: inline-block;
    vertical-align: top;
    width: 33%;
}


/* Блок */

.article {
    background: #dfdfdf;
    padding: 15px;
}


/* Модификатор на блок  */

.article_main {
    background: #d0d4e1;
}


/* Атомарный элемент */

.article__heading {}

.article__text {}